* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
}

.aTile {
	background-color: gray;
	float: left;
	text-align: center;
	font-size: 22px;
	border: 1px solid black;
	width: 30px;
	height: 30px;
}

#grid {
	margin: 0 auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
            supported by Chrome and Opera */
}

#controls {
	width: 100%;
}