* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
	padding: 30px;
}

input[type="text"] {
	width: 30px;
	font-size: 15px;
}

a {
	float: right;
}

button {
	font-size: 1rem;
	color: gray;
    display: inline-block;
    border: none;
    padding: .75rem 1.5rem;
    margin: 0;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    touch-action: manipulation;
    transition: background 150ms ease-in-out, 
                transform 100ms ease;
}

.active {
	cursor: pointer;
	color: black;
}

.active:active {
    transform: scale(0.98);
}

.active:hover,
.active:focus {
    background: #FAEBD7;
}

button:disabled {
	cursor: default;
}

.aTile {
	background-color: gray;
	float: left;
	text-align: center;
	font-size: 22px;
	border: 1px solid black;
	width: 30px;
	height: 30px;
	touch-action: manipulation;
    transition: background 50ms ease-in-out, 
                transform 50ms ease;
}

.selected-tile {
	border: 2px solid black;
}

.ending {
	font-size: 20px;
	text-align: center;
}

#container {
	display: flex;
	flex-direction: column;
}

#main {
	width: 1500px;
	margin: 20px auto;	
}

#grid {
	margin: 0 auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
            supported by Chrome and Opera */
}

#controls {
	display: inline-block;
	min-width: 270px;
	margin: 0 auto;
}

#menu {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

#counters {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}

#board-settings {
	text-align: right;
}

#show {
	float: right;
}